table.table.table-striped
  thead
    tr
      th Дата начала
      th Дата окончания
      th Исполнитель
      th Этап
      th Задача
  tbody
    tr(ng-repeat="item in workitem")
      td {{ item.date_start|date:'dd.MM.yyyy HH:mm' }}
      td {{ item.date_end|date:'dd.MM.yyyy HH:mm' }}
      td {{ item.user_name }}
      td {{ item.stage_name }}
      td {{ item.description }}

formly-form(model="newWork", fields="fields", form="form")
  //.alert.alert-danger(ng-repeat="(name, errs) in errors")
  //  strong {{ name }}
  //  |: {{ errs.join(', ') }}
  button.btn.btn-success(ng-disabled="form.$invalid", ng-click="save()") Add
