table.table.table-striped
  thead
    tr
      th Имя
  tbody
    tr(ng-repeat="client in clients")
      td {{ client.name }}


formly-form(model="newClient", fields="fields", form="form")
  button.btn.btn-success(ng-disabled="form.$invalid", ng-click="save()") Добавить клиента


