.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(ng-href="{{'base' | routeSegmentUrl}}") Valenki
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-class="{active: ('base.work' | routeSegmentStartsWith)}")
          a(href="#", ng-href="{{'base.work' | routeSegmentUrl}}") Work
        li(ng-class="{active: ('base.clients' | routeSegmentStartsWith)}")
          a(href="#", ng-href="{{'base.clients' | routeSegmentUrl}}") Clients
        li(ng-class="{active: ('base.projects' | routeSegmentStartsWith)}")
          a(href="#", ng-href="{{'base.projects' | routeSegmentUrl}}") Projects
        li(ng-class="{active: ('base.stages' | routeSegmentStartsWith)}")
          a(href="#", ng-href="{{'base.stages' | routeSegmentUrl}}") Stages
      ul.nav.navbar-nav.navbar-right
        li {{ user }}

.container
  div(app-view-segment="1")
