<!DOCTYPE html>
<html>
{% load insert_css_js %}
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  {% insert_css 'style' %}
  <base href="/">
</head>
<body ng-app="valenki">
    <div app-view-segment="0"></div>
  {% insert_js 'script' %}
</body>
</html>
