//ul.list-unstyled
//  li(ng-repeat="project in projects") {{ project.name }} - {{ project.site }} - {{ project.client_name }}
//form.form-inline
//  .form-group
//    input.form-control(type="text", ng-model="newProject.name", placeholder="name")
//  .form-group
//    input.form-control(type="url", ng-model="newProject.site", placeholder="site")
//  .form-group
//    select.form-control(ng-model="newProject.client", placeholder="site")
//      option(ng-repeat="client in clients", value="{{ client.id }}") {{ client.name }}
//
//  .alert.alert-danger(ng-repeat="(name, errs) in errors")
//    strong {{ name }}
//    | : {{ errs.join(', ') }}
//  button.btn.btn-default(ng-click="save()") Добавить проект

table.table.table-striped
  thead
    tr
      th Название
      th Сайт
      th Клиент
  tbody
    tr(ng-repeat="project in projects")
      td {{ project.name }}
      td {{ project.site }}
      td {{ project.client_name }}
formly-form(model="newProject", fields="fields", form="form")
  button.btn.btn-success(ng-disabled="form.$invalid", ng-click="save()") Добавить проект

//pre {{ form|json}}
h2 Error
pre {{ form.$error|json}}
