table.table.table-striped
  thead
    tr
      th Название
      th Проект
      th Стоимость этапа
      th Стоимость часа
  tbody
    tr(ng-repeat="stage in stages")
      td {{ stage.name }}
      td {{ stage.project_name }}
      td {{ stage.value_stage }} {{ stage.valuta_name }}
      td {{ stage.hourly_rate }} {{ stage.valuta_name }}


formly-form(model="newStage", fields="fields", form="form")
  button.btn.btn-success(ng-disabled="form.$invalid", ng-click="save()") Add

